<form method="post" action="index.html">
    <div class="box">
        <h1> Login </h1>
        
        <input type="email" name="email" placeholder="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
          
        <input type="password" name="email" placeholder="email" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
          
        <div>
            <a href="#"><div class="btn">Sign In</div></a> <!-- End Btn -->
        
            <a href="/register"><div class="btn2">Register</div></a> <!-- End Btn2 -->
        </div>
        
    </div> <!-- End Box -->
      
</form>