<!--The content below is only a placeholder and can be replaced.-->
<div class="myTitle" style="text-align:center">
  <h1>
    Welcome to {{ title|uppercase }}! 
  </h1>
  <h4> Member Manager: </h4>
</div>

<section style="Display:flex;  height: 100vh;">

    <ul style="Display:flex; justify-content: space-around; flex-direction:column; list-style:none;">
      <li> 
      <a [routerLink]="'/accounts'"> Accounts </a> </li>
      <li> <a [routerLink]="'/create-account'"> Create Account </a> </li>
      <li> <a [routerLink]="'/update-account'"> Update Account </a> </li>
      <li> <a [routerLink]="'/delete-account'"> Delete Account </a> </li>
    </ul>
      
      <div>
          <router-outlet></router-outlet>
      </div>

</section>

