section > ul {
    margin: 0px;
    padding:10px;
    background-color: lavender;
    border: solid cornflowerblue;
}

section > div{
    width: 100%;
    background-color: lavender;
    border: solid pink;
}

.myTitle {
    /* background-color: lavender;
    border: solid crimson; */
    color: #fffcf7;
}

.logo {
    /* width: 120px; */
    /* height: 31px; */
    /* background: rgba(255,255,255,.2); */
    /* margin: 16px 28px 16px 0; */
    float: left;
}